<div class="container">
    <center>
        <label for="s1">Smartphone 1</label>
        <input type="text" required ng-model="names1" id="s1" auto-complete="left" class="form-control" placeholder="Marca y modelo"/>
        <button class="button button-icon" ng-click="compare()">Comparar</button>
        <label for="s2">Smartphone 2</label>
        <input type="text" required ng-model="names2" id="s2" auto-complete="right" class="form-control"  placeholder="Marca y modelo"/>
    </center>
</div>

    <table class="table" id="comparisonTable">
        <thead>
          <tr>
            <th>#</th>
            <th>{{smartphoneLeft.brandName}} {{smartphoneLeft.modelName}}</th>
            <th>{{smartphoneRight.brandName}} {{smartphoneRight.modelName}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>RAM</td>
            <td>{{smartphoneLeft.ram}} GB</td>
            <td ng-style="{ 'background-color': compareRAM() }">{{smartphoneRight.ram}} GB</td>
          </tr>
          <tr>
            <td>ROM</td>
            <td>{{smartphoneLeft.rom}} GB</td>
            <td ng-style="{ 'background-color': compareROM() }">{{smartphoneRight.rom}} GB</td>
          </tr>
          <tr>
            <td>Screen size</td>
            <td>{{smartphoneLeft.screenSize}}'</td>
            <td ng-style="{ 'background-color': compareScreenSize() }">{{smartphoneRight.screenSize}}'</td>
          </tr>
          <tr>
            <td>Resolucion</td>
            <td>{{smartphoneLeft.resolutionX}}px X {{smartphoneLeft.resolutionY}}px</td>
            <td ng-style="{ 'background-color': compareResolution() }">{{smartphoneRight.resolutionX}}px X {{smartphoneRight.resolutionY}}px</td>
          </tr>
          <tr>
            <td>Battery</td>
            <td>{{smartphoneLeft.battery}} mAh</td>
            <td ng-style="{ 'background-color': compareBattery() }">{{smartphoneRight.battery}} mAh</td>
          </tr>
          <tr>
            <td>Size</td>
            <td>{{smartphoneLeft.height}}mm X {{smartphoneLeft.width}}mm X {{smartphoneLeft.thickness}}mm</td>
            <td ng-style="{ 'background-color': compareSize() }">{{smartphoneRight.height}}mm X {{smartphoneRight.width}}mm X {{smartphoneRight.thickness}}mm</td>
          </tr>
          <tr>
            <td>Weight</td>
            <td>{{smartphoneLeft.weight}} gr</td>
            <td ng-style="{ 'background-color': compareWeight() }">{{smartphoneRight.weight}}gr</td>
          </tr>
          <tr>
            <td>GPS</td>
            <td>{{smartphoneLeft.gps}}</td>
            <td ng-style="{ 'background-color': compareBattery() }">{{smartphoneRight.gps}}</td>
          </tr>
          <tr>
            <td>NFC</td>
            <td>{{smartphoneLeft.nfc}}</td>
            <td ng-style="{ 'background-color': compareNFC() }">{{smartphoneRight.nfc}}</td>
          </tr>
          <tr>
            <td>Bluetooth</td>
            <td>{{smartphoneLeft.bluetooth}}</td>
            <td ng-style="{ 'background-color': compareBluetooth() }">{{smartphoneRight.bluetooth}}</td>
          </tr>
        </tbody>
      </table>