<h2>Registro de usuario</h2>
<form class="form-horizontal" role="form" ng-submit="register()">
    
    <div class="form-group">
      <label class="control-label col-md-2" for="nick">Nick de usuario:</label>
      <div class="col-md-10">
        <input type="text" class="form-control" required ng-model="user.nick" id="nick" ng-blur="existsUser()" placeholder="Nombre de usuario">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-2" for="email">Correo electrónico:</label>
      <div class="col-md-10">
        <input type="email" class="form-control" required ng-model="user.mail" id="email" ng-blur="existsUser()" placeholder="Introduzca correo electrónico">
      </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-md-2" for="password">Contraseña</label>
        <div class="col-md-10">          
          <input type="password" class="form-control" ng-model="user.password" id="password" placeholder="Contraseña">
        </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-md-2" for="pwdrep">Repita contraseña:</label>
      <div class="col-md-10">
        <input type="password" class="form-control" required ng-model="pwdrep" id="pwdrep" placeholder="Repite contraseña">
      </div>
      
    </div><div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Registrarse">
        </div>
    </div>

</form>