<div class="container" ng-controller="searchResultController">
      <h2>Resultados</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Ver ficha</th>
          </tr>
        </thead>
        <tbody ng-repeat="smartphone in smartphones">
          <tr>
            <td>{{smartphone.brandName}}</td>
            <td>{{smartphone.modelName}}</td>
            <td><a href="/smartphone/{{smartphone.id}}">Ver ficha</a></td>
          </tr>
        </tbody>
      </table>
</div>