<dl class="dl-horizontal">
    <dt>Brand</dt>
    <dd>{{smartphone.brandName}}</dd>
    <dt>Model</dt>
    <dd>{{smartphone.modelName}}</dd>
    <dt>Release date</dt>
    <dd>{{smartphone.releaseDate}}</dd>
    <dt>Screen size</dt>
    <dd>{{smartphone.screenSize}}</dd>
    <dt>Resolution</dt>
    <dd>{{smartphone.resolutionX}} x {{smartphone.resolutionY}}</dd>
    <dt>RAM</dt>
    <dd>{{smartphone.ram}}</dd>
    <dt>ROM</dt>
    <dd>{{smartphone.rom}}</dd>
    <dt>Battery</dt>
    <dd>{{smartphone.battery}}</dd>
    <dt>Weight</dt>
    <dd>{{smartphone.weight}}</dd>
    <dt>Size</dt>
    <dd>{{smartphone.height}} x {{smartphone.width}} x {{smartphone.thickness}}</dd>
    <dt>GPS</dt>
    <dd>{{smartphone.gps}}</dd>
    <dt>NFC</dt>
    <dd>{{smartphone.nfc}}</dd>
    <dt>Bluetooth</dt>
    <dd>{{smartphone.bluetooth}}</dd>
</dl>

<h2 id="edit"><a href="#edit/{{smartphone.id}}">Editar ficha</a></h2>
<button id="delete" class="button button-icon" ng-click="deleteSmartphone()">Borrar</button>
